block variables
  - var blockName = 'screenTwo'

include ../modulesMixins/modulesMixins.pug

section.screenTwo
  .screenTwo__wrapper.wrapper
    +title('Преимущества тренировок на свежем воздухе')
    .screenTwo__info
      ul
        li Во время занятий на свежем воздухе организм насыщается кислородом. Это способствует ускорению обмена веществ и улучшению самочувствия.
        li Тренировки на природе помогают обрести душевную гармонию  и заряжают позитивной энергией.
        li Совмещение физических упражнений с солнечными ваннами насыщает организм витамином D.
        li В теплое время года организм охотнее расстается с лишними килограммами и похудение проходит легче.
    .screenTwo__img
      img(src="./img/content/bl-2.png", alt="img-block-2")