include ../form/form.pug

section.mainScreen
  .mainScreen__wrapper
    .mainScreen__info
      p.mainScreen__text.mainScreen__text--small
        | участвуй в конкурсе и выигрывай
      p.mainScreen__text.mainScreen__text--big
        | абонемент лето
      p.mainScreen__text.mainScreen__text--small.mainScreen__text--right
        | в smart trainer studio сумма приза 9900 руб
    .mainScreen__form
      +form
    .mainScreen__circle
      p Для всех участников –
      p 1 пробная
        br/ аутдор тренировка.

