block variables
  - var blockName = 'screenFourAbout'

include ../modulesMixins/modulesMixins.pug

section.screenFourAbout
  .screenFourAbout__wrapper.wrapper
    +title('смарт трейнинг студио - это:')
    .screenFourAbout__info
      .screenFourAbout__info-item
        .screenFourAbout__info-img
          img(src="./img/content/bl-4-comf-1.png", alt="comf-1")
        .screenFourAbout__info-text
          p.screenFourAbout__info-title Комфорт
          p.screenFourAbout__info-description
            | В студии царит домашняя атмосфера. Пушистые полотенца, уютные халаты, а также косметика L'occitane в душевых, которая пленит каждую представительницу прекрасного пола.
      .screenFourAbout__info-item
        .screenFourAbout__info-img
          img(src="./img/content/bl-4-des-1.png", alt="desk-1")
        .screenFourAbout__info-text
          p.screenFourAbout__info-title Европейский дизайн
          p.screenFourAbout__info-description
            | Дизайн студии был разработан для вашего удобства и комфорта. Никогда еще интерьер фитнес-студии не был таким домашним и европейским. Просто почувствуй
      .screenFourAbout__info-item
        .screenFourAbout__info-img
          img(src="./img/content/bl-4-team-1.png", alt="team-1")
        .screenFourAbout__info-text
          p.screenFourAbout__info-title Мастера своего дела
          p.screenFourAbout__info-description
            | С Вами будут работать исключительно профессионалы. Тренеры, которые помогут осуществить любую Вашу цель.Вам обеспечен индивидуальный подход даже в группах.
