include ../content/countdown/countdown.pug

header.header
  .header__wrapper.wrapper
    .header__logo
      a(href="#")
        img(src="./img/general/logo.png", alt="logo")
    .header__countdown
      +countdown
